body {
  font-size: 16px;
  color: black;
  background-color: #9dd1d2;
  font-family: "Oxygen", sans-serif;
}

h1 {
  margin-top: 100px;
  margin-bottom: 40px;
}

#collapsable-nav a {
  /* Collapsed nav menu text */
  font-size: 1.2em;
}
#collapsable-nav a span {
  /* Collapsed nav menu glyph */
  font-size: 1em;
  margin-right: 5px;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951c49;
  text-align: center;
}
#nav-list a:hover {
  background: #e7e7e7;
}
#nav-list a span {
  font-size: 1.8em;
}
